{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <h1>Welcome
            {% if app.user != null %}
                {{ app.user.name }}
                {% if app.user.getRole() == 'ROLE_TECHNICIAN' %}
                    <img src="{{ asset('uploads/technicianPhotos/'~app.user.getPhoto) }}">
                {% endif %}
            {% endif %}

        </h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <th scope="row">{{ location.getId() }}</th>
                    <td>{{ location.getName() }}</td>
                    <td class="pull-right">
                        <div>
                            {% if app.user != null and app.user.getRole() == 'ROLE_TECHNICIAN' %}
                                <a href="/overview?locatieId={{ location.getId }}"
                                   class="btn btn-space btn-sm btn-primary"
                                   role="button">Overview</a>
                            {% else %}
                                <a href="/giveStatus?locatieId={{ location.getId }}"
                                   class="btn btn-sm btn-space btn-primary" role="button">Give status</a>
                                <a href="/giveIssue?locatieId={{ location.getId }}"
                                   class="btn btn-space btn-sm btn-primary"
                                   role="button">Rate</a>
                                <a href="/overview?locatieId={{ location.getId }}"
                                   class="btn btn-space btn-sm btn-primary"
                                   role="button">Overview</a>
                            {% endif %}

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}