{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <h1>Statuses</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for status in location.getStatuses() %}
                <tr>
                    <th scope="row">{{ status.getId() }}</th>
                    <td>{{ status.getStatus() }}</td>
                    <td>{{ status.getDate()|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h1>Issues</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Problem</th>
                <th>Date</th>
                <th>Handled</th>
                <th>Technician</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in location.getIssues() %}
                <tr>
                    <th scope="row">{{ issue.getId() }}</th>
                    <td>{{ issue.getProblem() }}</td>
                    <td>{{ issue.getDate()|date('Y-m-d') }}</td>
                    <td>{% if issue.getHandled() == true %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
	                    {% if app.user != null and app.user.getRole() == 'ROLE_TECHNICIAN' %}
		                    {% if not issue.technician %}
                                <a href="/setTechnicianIssue?issueId={{ issue.id}}&technicianId={{ app.user.getId() }}&assign={{1}}"
                                   class="btn btn-space btn-sm btn-primary" role="button">Set</a>
		                    {% else %}
			                    {{ issue.getTechnician().getName()}}
		                    {% endif %}
                        {% else %}
	                        {{ issue.getTechnician().getName() | default("Not assigned") }}
	                    {% endif %}

                    </td>
                    {% if app.user != null and app.user.getRole() == 'ROLE_MANAGER' %}
                        <td>
                            <a href="/getTechnicians?issueId={{ issue.getId }}"
                               class="btn btn-sm btn-space btn-primary pull-right" role="button">Set technician</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}