{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <h1>Technicians</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for technician in technicians %}
                <tr>
                    <th scope="row">{{ technician.id }}</th>
                    <td>{{ technician.name }}</td>
                    <td>{{ technician.email }}</td>
                    <td>
                        <div>
                            <a href="{{ path('editTechnician', {'technicianId': location.id}) }}"
                               class="btn btn-sm btn-space btn-primary pull-right" role="button">Edit</a>
                            <a href="{{ path('removeTechnician', {'technicianId': location.id}) }}"
                               class="btn btn-sm btn-space btn-danger pull-right" role="button">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('registerTechnicianAdmin') }}"
           class="btn btn-sm btn-space btn-primary" role="button">Create technician</a>
    </div>
{% endblock %}