<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% block navbarItems %}
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    {% if app.user and is_granted('ROLE_TECHNICIAN') %}
                        <li class="nav-item">
                            <a href="{{ path('assignedIssues') }}" class="nav-link">My assigned problems</a>
                        </li>
                    {% endif %}
                    {% if app.user != null and app.user.getRole() == 'ROLE_ADMIN' %}
                        <li class="nav-item">
                            <a href="{{ path('getTechniciansAdmin') }}" class="nav-link">Overview technicians</a>
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    {% if app.user %}
                        <a href="{{ path('logout') }}" class="nav-link">Logout</a>
                    {% else %}
                        <a href="{{ path('login') }}" class="nav-link">Login</a>
                    {% endif %}
                </li>

            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
