{% extends 'base.html.twig' %}


{% block navbarItems %}
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        {% if app.user and is_granted('ROLE_TECHNICIAN') %}
            <li class="nav-item active">
                <a href="{{ path('assignedIssues') }}" class="nav-link">My assigned issues</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1>Issues</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Problem</th>
                <th>Date</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in issues %}
                <tr>
                    <th scope="row">{{ issue.id }}</th>
                    <td>{{ issue.problem }}</td>
                    <td>{{ issue.date|date('Y-m-d') }}</td>
                    <td>{{ issue.location.name }}</td>
                    <td>
                        {% if issue.handled %}
                            <a href="{{ path('setHandled', {'issueId': issue.id, 'handled': 0}) }}"
                               class="btn btn-sm btn-space btn-danger pull-right" role="button">Set unhandled</a>
                        {% else %}
                            <a href="{{ path('setHandled', {'issueId': issue.id, 'handled': 1}) }}"
                               class="btn btn-sm btn-space btn-success pull-right" role="button">Set handled</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('pdf') }}" class="btn btn-space btn-primary" role="button">Export list to pdf</a>

        <a href="{{ path('csv') }}" class="btn btn-space btn-primary" role="button">Export list to csv</a>
    </div>
{% endblock %}